<!doctype html>
<html lang-"en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>


<body class="<%= 'journals-background' if controller_name == 'journals' && action_name == 'index' %>"> 
    <%= yield %>


<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="new.html.erb">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Settings</a>
  </li>
</ul>

<div class="container mt-5">
  <h1><strong>Good afternoon, Saima! ⛅️ </strong></h1>
  <h2> Here is your daily summary on project: <strong> HMCTS CIC</strong> </h2>
  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="dashboard-panel">
        <h3><strong>Tickets</strong></h3>
        <hr>
        <p><strong>35</strong> tickets in total </p>
        <a href="http://localhost:3000/journals/tickets" class="btn btn-outline-secondary">View tickets</a>
        
        <br>
        <br>
        <p><strong>3</strong> Tickets in drafts</p>
        <a href="#" class="btn btn-outline-secondary">View drafts</a>
      </div>
    </div>
        </div>

    
    <div class="col-md-4">
      <div class="dashboard-panel">
        <h3><strong>My tasks</strong></h3>
        <hr>
        <p>
            <strong> 8 </strong> Tasks to do
            <a href="http://localhost:3000/journals/new" class="btn btn-primary mb-4"> View all tasks</a>
        </p> 
        <a href="#" class="btn btn-outline-secondary btn-block">View all tasks</a>
      </div>
    </div>
    

     <div class="col-md-4">
    <div class="dashboard-panel">
    <h3><strong>Build a ticket</strong></h3>
    <hr>
    <form action="/dashboard/submit_activity" method="post">
      <input type="hidden" name="user_id" value="Current-Admin-101">
      
       <div class="form-group mb-4">
        <label for="activityDate">Date of creation</label>
        <input type="date" 
               class="form-control" 
               id="activityDate" 
               name="activity_date" 
               value="<%= Date.today.to_s %>"> 
        </div>

        <div class="form-group mb-3">
        <label for="activityPersona">Assign to persona</label>
        <input type="text" 
               class="form-control"
               id="activityPersona"
               name="Persona"
               placeholder="Judge">
      </div>


      <div class="form-group mb-3">
        <label for="activityType">Ticket Status</label>
        <select class="form-control" id="activityType" name="activity_type">
          <option selected>Draft</option>
          <option>Under Review</option>
          <option>Archive</option>
        </select>
      </div>
      
      <div class="form-group mb-3">
        <label for="activityDescription">Description</label>
        <input type="text" 
               class="form-control"
               id="activityDescription"
               name="description"
               placeholder="To mention in stand-up">
      </div>
      
      <button type="submit" class="btn btn-outline-secondary">
      Save to drafts</button>

      <button type="submit" class="btn btn-success">
      Create ticket</button>
      <hr>
    </form>
    
  </div>
</div>

</div>
</div>
   

<div class="container mt-5">
<h1><strong>All Tickets</strong></h1>
<h2>View tickets that are in drafts, under review or archived</h2>
<div>
<hr>
<em>
    <% @journals.each do |journal| %>
        <%= journal.name %>
    <% end %>
    </em>
</div>

</div>
</body>

</html>