 @import "bootstrap";

 /* Index background */
.journals-background {
  background-color: #cde1f1; /* A light grey color */
}

/* New [Build a persona] background ]*/
.new-background{
    background-color: #a3c5e9;
}

 /* Custom CSS for the Dashboard panels */
.dashboard-panel {
  /* Panel box styling */
  border: 2px solid rgb(67, 111, 206);
  border-radius: 12px; /* Slightly rounded corners */
  padding: 20px;
  margin-bottom: 20px; /* Space between panels and the next row */
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
  min-height: 250px; /* Ensures all panels are the same height */
}

.dashboard-panel h3 {
  color: #19497d; /* Bootstrap's primary color */
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}

/* Optional: Highlight a panel */
.panel-two {
  border-left: 5px solid hwb(207 13% 25%); /* Green highlight on the side */
  background-color: #f8fff8; /* Very light green background */
}

/* Ensure the full width buttons look nice */
.btn-block {
    display: block;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
}

.btn-success {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
    background-color: #5f819f; /* Very light green background */
}